/* .usuarios-container ajustado para tener dos secciones */
.usuarios-container {
    display: flex;
    justify-content: space-between; /* Permite que el formulario y los botones estén en diferentes columnas */
    padding: 20px;
}

/* El contenedor del formulario en la columna izquierda */
.formulario-contenedor {
    flex: 1; /* Toma la mitad del espacio */
    margin-right: 20px; /* Espacio entre el formulario y los botones */
}

/* El contenedor de los botones en la columna derecha */
.botones-contenedor {
    flex: 0.4; /* Toma un 40% del espacio restante */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los botones */
    justify-content: center;
    align-items: center; /* Alinea los botones a la izquierda */
    padding-left: 20px;
}

.p-button {
    width: 100%; /* Hace que los botones abarquen todo el ancho del contenedor */
    padding: 1rem; /* Ajusta el tamaño de los botones */
}

/* Estilos para los formularios */
.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}

.form-group .p-inputtext {
    width: 100%;
}

button {
    width: 100%;
    margin-top: 20px;
}
.custom-button {
    background: linear-gradient(90deg, #4caf50, #2e7d32);
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.p-button-info {
    width: auto;
    padding: 0.5rem 1rem;
}
.regresar-boton {
    width: auto;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 
